<h1>Add a new artist</h1>

<%=form_with url: "/artists", method: :post, data: {turbo: false } do |form| %>
    <%= form.label :name, "Artist Name:" %>
    <%= form.text_field :name%>

    <%= form.label :is_touring, "Is Touring?" %>
    <%= form.select :is_touring, [["Yes", true], ["No", false]] %> 

    <%= form.label :years_active, "Years Active:" %>
    <%= form.number_field :years_active %>
    
    <%= form.submit "Create Artist" %>
<% end %>