
<h1><%= @artists.name %></h1>

<a href = "/songs">Songs Index</a>
<a href = "/artists">Artist Index</a>
<a href = "/artists/<%= @artists.id %>/songs">Songs by <%= @artists.name %></a>

<p>Still touring? : <%= @artists.is_touring %></p>
<p>Total years active : <%= @artists.years_active %></p>
<p>Created : <%= @artists.created_at %></p>
<p>Updated : <%= @artists.updated_at %></p>
<p>Total Songs : <%= @artists.songs.count %></p>

