
<h1><%= @artists.name %></h1>


<%= link_to 'Edit Artist', "/artists/#{@artists.id}/edit"%>
<%= link_to 'Songs Index', "/songs" %>
<%= link_to 'Artist Index', "/artists" %>
<%= link_to "Songs By #{@artists.name}", "/artists/#{@artists.id}/songs"%>

<p>Still touring? : <%= @artists.is_touring %></p>
<p>Total years active : <%= @artists.years_active %></p>
<p>Created : <%= @artists.created_at %></p>
<p>Updated : <%= @artists.updated_at %></p>
<p>Total Songs : <%= @artists.songs.count %></p>

