<h1> All Songs </h1>

<a href = "/artists">Artist Index</a>

<% @songs.each do |song| %>
  <h2>title : <%= song.name %></h2>
  <p>duration (in seconds): <%= song.length %></p>
  <p>released as a single? : <%= song.is_single %></p>
  <p>artist id : <%= song.artist_id %></p>
  <p>created at : <%= song.created_at %></p>
  <p>updated at : <%= song.updated_at %></p>
<%end%>
